[submodule "vendor/rns-src"]
	path = vendor/rns-src
	url = https://github.com/markqvist/Reticulum.git
	branch = master

[submodule "vendor/lxmf-src"]
	path = vendor/lxmf-src
	url = https://github.com/markqvist/LXMF.git
	branch = master
