[reticulum]
  enable_transport = False
  share_instance = True
  shared_instance_port = 37428
  instance_control_port = 37429
  panic_on_interface_error = False

[logging]
  loglevel = 4

[[LoRa Node]]
  type = RNodeInterface
  port = /dev/cuaU0
  frequency = 915000000
  bandwidth = 125000
  txpower = 14
  spreadingfactor = 8
  codingrate = 5
  airtime_limit_long = 70
  airtime_limit_short = 15
  id_callsign = N0CALL
  id_interval = 600
