[lxmf]
  display_name = Anonymous Peer
  announce_at_start = no
  delivery_transfer_max_accepted_size = 1000

[propagation]
  enable_node = yes
  node_name = My Prop Node
  announce_interval = 360
  announce_at_start = yes
  message_storage_limit = 500
  propagation_message_max_accepted_size = 256
  propagation_sync_max_accepted_size = 10240
  propagation_stamp_cost_target = 16
  propagation_stamp_cost_flexibility = 3
  peering_cost = 18
  remote_peering_cost_max = 26
  max_peers = 20
  autopeer = yes
  autopeer_maxdepth = 6
  from_static_only = no
  auth_required = no

[logging]
  loglevel = 4
